
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(32,4,30);
    background: linear-gradient(90deg, rgba(32,4,30,1) 0%, rgba(51,162,51,1) 100%);
}


header {
    color: white;
    text-align: center;
    padding: 20px 0;
   
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    color: #ffe600;
}


main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section {
    width: 70%;
    background-color: #e6f7d9;
    padding: 20px;
    border-radius: 8px;
}
section p {

  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


aside {
    width: 28%;
    background-color: #d0e8a7;
    padding: 20px;
    border-radius: 8px;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

aside ul li a:hover {
    color: #7dbf44;
}


footer {
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
